/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*custom css*/

@font-face {
    font-family: 'pt_sans_regular';
    src: url('../fonts/pts55f.woff2') format('woff2'),
    url('../fonts/pts55f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    height: auto;
}

.banner {
    background-color: #31333f;
    width: 100%;
    display: inline-block;
    height: auto;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.logo a {
    display: inline-block;
}

.logo {
    float: left;
    width: 350px;
}

.left_side_menu ul li {
    display: inline-block;
    padding-top: 1.5em;
    padding-bottom: 3.5em;
}

.text h2{
    font-size: 45px;
    font-family: "pt_sans_regular";
    color: rgb( 255, 255, 255 );
    text-align: center;
}

.left_side_menu ul li a {
    font-size: 15px;
    font-family: "pt_sans_regular";
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    padding: 6px;
    margin: 2px;
    border-right: 1px solid #626262;
    padding-right: 12px;
    line-height: 12px;
    padding-top: 0;
    padding-bottom: 0;
}

.left_side_menu ul li a.active {
    color: #33b7fe;
}

.left_side_menu ul li:last-child a {
    border-right: none;
}

.logo img {
    padding-top: 2em;
}

.main_menu {
    float: left;
}

.left_side_menu {
    float: left;
    padding-top: 20px;
}

.right_side {
    float: right;
    line-height: 11px;
    display: inline-block;
    text-decoration: none;
    padding-top: 2.4em;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.text {
    font-size: 45px;
    color: white;
    display: inline-block;
    padding-top: 1.4em;
    padding-bottom: 1.5em;
    width: 650px;
    height: auto;
    margin: 0;
    text-align: right;
}

.buttion {
    background-color:#33b7fe;
    border: none;
    color: rgb( 255, 255, 255 );
    font-family: "pt_sans_regular";
    font-size: 22px;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.big {
    background-color: #31333f;
    width: 100%;
    height: auto;
    display: inline-block;
}

.arrow {
    width: 180px;
    float: left;
    padding: 6px;
}

.system {
    child-align: middle;
    width: 600px;
    display: inline-block;
}

.arrows {
    float: right;
}

.our {
    background-color: #e2e7ed;
    width: 100%;
    display: inline-block;
    height: auto;
}

.work {
    font-size: 30px;
    padding-right: 0px;
    font-family: "pt_sans_regular";
    color: #626262;
    display: inline-block;
    padding-top: 1.6em;
    padding-bottom: 1.0em;
    width: 150px;
    height: auto;
    margin: 0;
    text-align: right;
}

.hover {
    width: 1100px;
    height: auto;
    margin: 0;
    padding-bottom: 3.5em;
}

.client {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    height: auto;
}

.customer {
    font-size: 30px;
    padding-right: 0px;
    font-family: "pt_sans_regular";
    color: #626262;
    display: inline-block;
    padding-top: 1.6em;
    padding-bottom: 1.5em;
    width: 70px;
    height: auto;
    margin: 0;
    text-align: right;

}
.a {
    width: 70px;
    height: auto;
    float: left;
    display: inline-block;
    margin: 0;
    padding-bottom: 3.5em;
}

.b {
    width: 180px;
    height: auto;
    float: left;
    display: inline-block;
    margin: 0;
    padding-bottom: 3.5em;
}

.c {
    width: 200px;
    height: auto;
    padding-top: 0.3em;
    display: inline-block;
    margin: 0;
    padding-bottom: 3.5em;
}

.d {
    width: 195px;
    height: auto;
    padding-top: 0.4em;
    padding-left: 30px;
    display: inline-block;
    margin: 0;
    padding-bottom: 3.5em;
}

.e {
    width: 215px;
    height: auto;
    padding-left: 30px;
    display: inline-block;
    margin: 0;
    padding-bottom: 3.5em;
}

.f {
    width: 70px;
    height: auto;
    float: right;
    display: inline-block;
    text-indent: 35px;
    margin: 0;
    padding-bottom: 3.5em;
}

.footer {
    background-color: #31333f;
    width: 100%;
    display: inline-block;
    height: auto;
}

.phone1 ul li {
    display: inline-block;
    padding-top: 1.5em;
    padding-bottom: 0.5em;

}

.phone1 ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 2px;
    border-right: 1px solid white;
    padding-right: 12px;
    line-height: 16px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    font-family: "pt_sans_regular";
}

.phone1 ul li:last-child a {
    border-right: none;
}

.phone1 {
    float: left;
    padding-top: 20px;
}
.phone3 {
    width: 400px;
    height: auto;
    display: inline-block;
    padding-bottom: 1.8em;
    float: left;
    font-size: 15px;
    font-family: "pt_sans_regular";
    margin: 0;
    color: white;
}

.phone4 {
    width: 600px;
    height: auto;
    display: inline-block;
    padding-bottom: 4.5em;
    font-size: 12px;
    font-family: "pt_sans_regular";
    float: left;
    margin: 0;
    color: white;
}

.phone2 {
    width: 400px;
    height: auto;
    display: inline-block;
    text-indent: 150px;
    padding-top: 2.4em;
    padding-bottom: 3.5em;
    margin: 0;
    float: right;
}

.exam {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    height: auto;
}

.green_div {
    width: 300px;
    height: auto;
    font-size: 30px;
    color: #626262;
    text-align: center;
    float: left;
    padding: 30px 16px 30px 16px;

}

.mobile {
    width: 100%;
}

.mobile h1 {
    font-size: 30px;
    text-align: center;
    font-family: "pt_sans_regular";
}

.start {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.end {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: "pt_sans_regular";
    text-align: center;
    color: #626262;
    padding-bottom: 25px;
    line-height: 20px;
    margin: 0;
}

.close {
    font-size: 16px;
    text-indent: 13px;
    color: deepskyblue;
    padding-bottom: 30px;
    width: 100%;
    font-family: "pt_sans_bold";
}
